.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 5px;
}
.product-preview{
  padding-left:px;
  margin-top: 80px;
}
.product{
  width: 100%;
  display: block;
}
.brand{
  width: px;  
margin-left: 80px;
color: blue;
}
.product-stats{
  font-size: 20px;
  width: 100%;
}
.product-info{
width: 100%;
font-style: roboto,arial;

}